<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OpenEye</title>
        <link rel="icon" type="image/gif" src="{{ relative('favicon.gif') }}" />

    {% block styles %}
        <link href="{{ relative('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ relative('css/bootstrap.vertical-tabs.css') }}" rel="stylesheet">
        <link href="{{ relative('css/openeye.css') }}" rel="stylesheet">
    {% endblock %}

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
    </head>
    <body role="document">
        <div style="background-image: url('https://www.creeperhost.net/images/sliderbg.jpg');">
            <div class="container" style="">
                <div class="row" style="padding: 0px 0;">
                    <a class="pull-right" href="http://www.creeperhost.net" style="height: 40px"><img src="/creeperhost.png"></a>
                </div>
            </div>
        </div>
        {% block first %}{% endblock %}
	<div class="container" style="margin-top: 10px;">
            
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{{ relative('') }}">OpenEye</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ relative('download') }}">About OpenEye (&amp; download)</a></li>
                  <li><a href="{{ relative('faq') }}">FAQ</a></li>
                  <li><a href="{{ relative('') }}">Mods</a></li>
                  <li><a href="{{ relative('package') }}">Packages</a></li>
                  <li><a href="{{ relative('crashes') }}">Crashes</a></li>
                  <li><a href="{{ relative('browse') }}">Raw Data</a></li>
                </ul>
              </div>
            </nav> 
	  {% block main %}{% endblock %}
	</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ relative('js/bootstrap.min.js') }}"></script>
        <script>
            $(function() {
                function fixSideNav() {
                    $('#sidenav').each(function() {
                        $(this).width($(this).parent().width());
                    });
                }
                $(window).resize(fixSideNav);
                fixSideNav();
            });
        </script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50862853-2', 'openmods.info');
        ga('send', 'pageview');

      </script>
        {% block javascript %}{% endblock %}
    </body>
</html>