{% extends 'base.twig' %}
{% block main %}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Browse the raw data</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        {% if page_count and page_count > 2 %}
        <ul class="pagination">
            <li{% if disablePrev %} class="disabled"{%endif %}><a href="{% if disablePrev %}#{% else %}?page={{ current_page - 1 }}{% endif %}">&laquo;</a></li>
            {% for page in range(1, page_count) %}
                <li{% if current_page == page %} class="active"{%endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li{% if disableNext %} class="disabled"{%endif %}><a href="{% if disableNext %}#{% else %}?page={{ current_page + 1 }}{% endif %}">&raquo;</a></li>
        </ul>
        {% endif %}
        
        {% for result in results %}
        <pre><code>{{ result|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>     
        {% endfor %}       
        
        {% if page_count and page_count > 2 %}
        <ul class="pagination">
            <li{% if disablePrev %} class="disabled"{%endif %}><a href="{% if disablePrev %}#{% else %}?page={{ current_page - 1 }}{% endif %}">&laquo;</a></li>
            {% for page in range(1, page_count) %}
                <li{% if current_page == page %} class="active"{%endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li{% if disableNext %} class="disabled"{%endif %}><a href="{% if disableNext %}#{% else %}?page={{ current_page + 1 }}{% endif %}">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style type="text/css">
    .hljs-number {
        color: #FC462E;
    }
    .hljs-literal {
        color: #FE4D5F;
    }
    .hljs-string {
        color: #06B282;
    }
    .hljs-attribute {
        color: #3540A8;
    }
    .hljs-value {
        color: #62543A;
    }
</style>
{% endblock %}