{% extends 'base.twig' %}
{% block main %}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Browse the raw data</h1>
            <p>Although it may not mean much to most people, we allow people to explore our entire database. Click on a link on the left to view the data stored.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li{% if table == 'analytics' %} class="active"{% endif %}><a href="{{ relative('browse/analytics') }}">Analytics</a></li>
        <li{% if table == 'analytics_aggregated' %} class="active"{% endif %}><a href="{{ relative('browse/analytics_aggregated') }}">Aggregated Analytics</a></li>
        <li{% if table == 'mods' %} class="active"{% endif %}><a href="{{ relative('browse/mods') }}">Mods</a></li>
        <li{% if table == 'files' %} class="active"{% endif %}><a href="{{ relative('browse/files') }}">Files</a></li>
        <li{% if table == 'crashes' %} class="active"{% endif %}><a href="{{ relative('browse/crashes') }}">Crashes</a></li>
        <li{% if table == 'reports' %} class="active"{% endif %}><a href="{{ relative('browse/reports') }}">Reports</a></li>
        <li{% if table == 'urls' %} class="active"{% endif %}><a href="{{ relative('browse/urls') }}">Urls</a></li>
      </ul>
    </div>    
    <div class="col-md-10"> 
        {% if total > 0 %}
            <h3>Showing {{ total|number_format(0, '.', ',') }} result{% if total > 1 %}s{% endif %}</h3>    
        {% endif %}
        {% if page_count and page_count > 2 %}
            {% set from = max(1, current_page - 8) %}
            {% set to = min(page_count, from + 16) %}
        <ul class="pagination">
            <li{% if disablePrev %} class="disabled"{%endif %}><a href="{% if disablePrev %}#{% else %}?page={{ current_page - 1 }}{% endif %}">&laquo;</a></li>
            {% for page in range(from, to) %}
                <li{% if current_page == page %} class="active"{%endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li{% if disableNext %} class="disabled"{%endif %}><a href="{% if disableNext %}#{% else %}?page={{ current_page + 1 }}{% endif %}">&raquo;</a></li>
        </ul>
        {% endif %}
        
        {% for result in results %}
        <pre><code>{{ result|json_encode(constant('JSON_PRETTY_PRINT')  b-or constant('JSON_UNESCAPED_SLASHES')) }}</code></pre>     
        {% endfor %}       
        
        {% if page_count and page_count > 2 %}
        <ul class="pagination">
            <li{% if disablePrev %} class="disabled"{%endif %}><a href="{% if disablePrev %}#{% else %}?page={{ current_page - 1 }}{% endif %}">&laquo;</a></li>
            {% for page in range(from, to) %}
                <li{% if current_page == page %} class="active"{%endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li{% if disableNext %} class="disabled"{%endif %}><a href="{% if disableNext %}#{% else %}?page={{ current_page + 1 }}{% endif %}">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style type="text/css">
    .hljs-number {
        color: #FC462E;
    }
    .hljs-literal {
        color: #FE4D5F;
    }
    .hljs-string {
        color: #06B282;
    }
    .hljs-attribute {
        color: #3540A8;
    }
    .hljs-value {
        color: #62543A;
    }
</style>
{% endblock %}