{% extends 'base.twig' %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ crash.exception.exception }}: <small>{{ crash.exception.message }}</small></h1>
            <h5>{{ crash.count }} report{% if crash.count > 1 %}s{% endif %}</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if crash.note %}<div class="bs-callout bs-callout-warning"><h4>{{ crash.note.message }} - {{ crash.note.user }}</h4></div>{% endif %}
        <pre>{% include 'stack.twig' with {crash: crash.exception} %}</pre>
    {% if crash.javaVersions|length > 0 %}
        <h4 style="padding-top: 20px;">Experienced in Java:</h4>
        <p>{{ crash.javaVersions|join(', ') }}</p>
     {% endif %}
    </div>
</div>

<div class="row" style="padding-top: 20px;">
    <div class="col-md-12">
        <h4>Likely involved mods</h4>
    </div>
    {% set chunks = involvedMods|batch(involvedMods_count/2) %}
    {% for chunk in chunks %}
        <div class="col-md-5">
            <ul>
            {% for mod in chunk %}
                <li>{% if mod.unlisted %}{{ mod.name }}{% else %}<a href="{{ relative('mod/' ~ mod._id) }}">{{ mod.name }}</a>{% endif %}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <h4>Likely involved files</h4>
    </div>
    {% set chunks = involvedSignatures|batch(involvedSignatures_count/2) %}
    {% for chunk in chunks %}
        <div class="col-md-5">
            <ul>
            {% for file in chunk %}
                {% set linkFile = true %}
                {% for mod in file.mods %}
                  {% if in_array(mod.modId, unlisted) %}
                     {% set linkFile = false %}
                  {% endif %}
                {% endfor %}
                {% if linkFile %}
                    <li><a href="{{ relative('file/' ~ file._id) }}" data-target="#myModal">{{ file.filenames|first }}</a></li>
                {% else %}
                    <li>{{ file.filenames|first }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <h4>Mods that have been installed during every crash</h4>
    </div>
    {% set chunks = allMods|batch(allMods_count/3) %}
    {% for chunk in chunks %}
        <div class="col-md-4">
            <ul>
            {% for mod in chunk %}<li>{% if mod.unlisted %}{{ mod.name }}{% else %}<a href="{{ relative('mod/' ~ mod._id) }}">{{ mod.name }}</a>{% endif %}</li>{% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <h4>Files that have been installed during every crash</h4>
    </div>
    {% set chunks = allSignatures|batch(allSignatures_count/3) %}
    {% for chunk in chunks %}
        <div class="col-md-4">
            <ul>
            {% for file in chunk %}
                {% set linkFile = true %}
                {% for mod in file.mods %}
                  {% if in_array(mod.modId, unlisted) %}
                     {% set linkFile = false %}
                  {% endif %}
                {% endfor %}
                {% if linkFile %}
                    <li><a href="{{ relative('file/' ~ file._id) }}" data-target="#myModal">{{ file.filenames|first }}</a></li>
                {% else %}
                    <li>{{ file.filenames|first }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<div class="row" style="padding-top: 40px;">
    <div class="col-md-6">
        {% if classTransformers is defined and classTransformers|length > 0 %}
            <h4>Class Transformers</h4>
            <ul>
            {% for transformer,file in classTransformers %}
                {% if file != "" %}
                    <li><a href="{{ relative('file/' ~ file) }}" data-target="#myModal">{{ transformer }}</a></li>
                {% else %}
                    <li>{{ transformer }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if tweakers is defined and tweakers|length > 0 %}
            <h4>Tweakers</h4>
            <ul>
            {% for tweaker, file in tweakers %}
                {% if file != "" %}
                    <li><a href="{{ relative('file/' ~ file) }}" data-target="#myModal">{{ tweaker }}</a></li>
                {% else %}
                    <li>{{ tweaker }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content"> 
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(function() {
    $("a[data-target=#myModal]").click(function(ev) {
        ev.preventDefault();
        var target = $(this).attr("href");
        $("#myModal .modal-content").load(target, function() { 
             $("#myModal").modal("show"); 
        });
    });
});
</script>
{% endblock %}