{% extends 'base.twig' %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ crash.exception.exception }}: <small>{{ crash.exception.message|length > 200 ? crash.exception.message|slice(0, 200) ~ '...' : crash.exception.message  }}</small></h1>
            <h5>{{ crash.count }} report{% if crash.count > 1 %}s{% endif %}</h5>
            <div>
                {% if crash.side is defined %}
                    {% for side in crash.side %}
                        <span class="label label-primary">{{ side }}</span> 
                    {% endfor %}
                {% endif %}
                {% if crash.tags is defined and crash.tags|length > 0 %}
                    {% for tag in crash.tags %}
                        <span class="label label-info">{{ tag }}</span> 
                    {% endfor %}
                {% endif %}
                {% if crash.location is defined and crash.location|length > 0 %}
                    {% for location in crash.location %}
                        <span class="label label-success">{{ location }}</span> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if crash.note %}<div class="bs-callout bs-callout-warning"><h4>{{ crash.note.message }} - {{ crash.note.user }}</h4></div>{% endif %}
        <pre>{% include 'stack.twig' with {crash: crash.exception} %}</pre>
    </div>
</div>
{% if crash.resolved is defined and not crash.resolved %}
<div class="row">
  <div class="col-md-12">
    <div class="bs-callout bs-callout-warning">
      <h4>We were unable to collect all information about this crash</h4>
    </div>
  </div>
</div>
{% endif %}
<div class="well" style="margin: 20px 0;background-color: #fff;">
<div class="row">
    <div class="col-md-4">
        <h4>Java</h4>
        {% if crash.javaVersions is defined and crash.javaVersions|length > 0 %}
        <ul>
            {% for version in crash.javaVersions %}
            <li>{{ version }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h4>Minecraft</h4>
        {% if crash.minecraft is defined and crash.minecraft|length > 0 %}
        <ul>
            {% for minecraft in crash.minecraft %}
            <li>{{ minecraft }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h4>FML</h4>
        {% if crash.fml is defined and crash.fml|length > 0 %}
        <ul>
            {% for fml in crash.fml %}
            <li>{{ fml }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
    
<div class="row">
    <div class="col-md-4">
        <h4>MCP</h4>
        {% if crash.mcp is defined and crash.mcp|length > 0 %}
        <ul>
            {% for mcp in crash.mcp %}
            <li>{{ mcp }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h4>Forge</h4>
        {% if crash.forge is defined and crash.forge|length > 0 %}
        <ul>
            {% for forge in crash.forge %}
            <li>{{ forge }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h4>Branding</h4>
        {% if crash.branding is defined and crash.branding|length > 0 %}
        <ul>
            {% for branding in crash.branding %}
            <li>{{ branding }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</div>

<div class="row" style="padding-top: 20px;">
    <div class="col-md-12">
        <h4>Likely involved mods</h4>
    </div>
    {% set chunks = involvedMods|batch(involvedMods_count/2) %}
    {% for chunk in chunks %}
        <div class="col-md-5">
            <ul>
            {% for mod in chunk %}
                <li>{% if mod.unlisted %}{{ mod.name }}{% else %}<a href="{{ relative('mod/' ~ mod._id) }}">{{ mod.name }}</a>{% endif %}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <h4>Likely involved files</h4>
    </div>
    {% set chunks = involvedSignatures|batch(involvedSignatures_count/2) %}
    {% for chunk in chunks %}
        <div class="col-md-5">
            <ul>
            {% for file in chunk %}
                {% set linkFile = true %}
                {% for mod in file.mods %}
                  {% if in_array(mod.modId, unlisted) %}
                     {% set linkFile = false %}
                  {% endif %}
                {% endfor %}
                {% if linkFile %}
                    <li><a href="{{ relative('file/' ~ file._id) }}" data-target="#myModal">{{ file.filenames|first }}</a></li>
                {% else %}
                    <li>{{ file.filenames|first }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <h4>Mods that have been installed during every crash</h4>
    </div>
    {% set chunks = allMods|batch(allMods_count/3) %}
    {% for chunk in chunks %}
        <div class="col-md-4">
            <ul>
            {% for mod in chunk %}<li>{% if mod.unlisted %}{{ mod.name }}{% else %}<a href="{{ relative('mod/' ~ mod._id) }}">{{ mod.name }}</a>{% endif %}</li>{% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <h4>Files that have been installed during every crash</h4>
    </div>
    {% set chunks = allSignatures|batch(allSignatures_count/3) %}
    {% for chunk in chunks %}
        <div class="col-md-4">
            <ul>
            {% for file in chunk %}
                {% set linkFile = true %}
                {% for mod in file.mods %}
                  {% if in_array(mod.modId, unlisted) %}
                     {% set linkFile = false %}
                  {% endif %}
                {% endfor %}
                {% if linkFile %}
                    <li><a href="{{ relative('file/' ~ file._id) }}" data-target="#myModal">{{ file.filenames|first }}</a></li>
                {% else %}
                    <li>{{ file.filenames|first }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<div class="row" style="padding-top: 40px;">
    <div class="col-md-6">
        {% if classTransformers is defined and classTransformers|length > 0 %}
            <h4>Class Transformers</h4>
            <ul>
            {% for transformer,file in classTransformers %}
                {% if file != "" %}
                    <li><a href="{{ relative('file/' ~ file) }}" data-target="#myModal">{{ transformer }}</a></li>
                {% else %}
                    <li>{{ transformer }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if tweakers is defined and tweakers|length > 0 %}
            <h4>Tweakers</h4>
            <ul>
            {% for tweaker, file in tweakers %}
                {% if file != "" %}
                    <li><a href="{{ relative('file/' ~ file) }}" data-target="#myModal">{{ tweaker }}</a></li>
                {% else %}
                    <li>{{ tweaker }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content"> 
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(function() {
    $("a[data-target=#myModal]").click(function(ev) {
        ev.preventDefault();
        var target = $(this).attr("href");
        $("#myModal .modal-content").load(target, function() { 
             $("#myModal").modal("show"); 
        });
    });
});
</script>
{% endblock %}