{% extends 'base.twig' %}
{% block main %}
<div class="page-header">
    <h1>Mods</h1>
</div>
<div class="row">
    <div class="col-md-9">
        {% for mod in mods %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ relative('mod/' ~ mod._id) }}">{{ mod.name }}</a>{% if mod.authors|length > 0 %} <small>by {% for author in mod.authors %}<span class="label label-info">{{ author }}</span> {% endfor %}</small>{% endif %}</h4>
            {{ mod.description }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="affix-top" role="complementary">
          <strong>Filter by name:</strong>
          <ul class="nav nav-home">
              {% for letter in range('A', 'Z') %}
                <li><a href="#{{ letter }}">{{ letter }}</a></li>
              {% endfor %}
          </ul>
          <strong>Filter by tag:</strong>
          <ul class="nav nav-home">
            <li><a href="#">magic</a></li>
            <li><a href="#">tech</a></li>
            <li><a href="#">random</a></li>
            <li><a href="#">util</a></li>
            <li><a href="#">library</a></li>
            <li><a href="#">addon</a></li>
          </ul>
        </div>
    </div>
</div>
{% endblock %}