{% extends 'base.twig' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ title }}{% if total %} <small>({{ total }} total)</small>{% endif %}</h1>
        </div>
    </div>
    <div class="col-md-3 pull-right">
        <div id="sidenav" data-spy="affix" data-offset-top="50">
            
          <strong>Find by:</strong>
          <ul class="nav nav-home nav-home-stacked">
                <li><a href="{{ relative('') }}">Popular mods</a></li>
                <li><a href="{{ relative('all') }}">List all mods</a></li>
          </ul>
          <strong>Find by name:</strong>
          <ul class="nav nav-home">
              {% for letter in range('A', 'Z') %}
                <li><a href="{{ relative('letter/'~letter|lower) }}">{{ letter }}</a></li>
              {% endfor %}
          </ul>
          <strong>Find by tag:</strong>
          <ul class="nav nav-home">
            {% for tag in tags %}
                <li><a href="{{ relative('tag/' ~ tag) }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="col-md-9">

        {% if page_count and page_count > 2 %}
        <ul class="pagination">
            <li{% if disablePrev %} class="disabled"{%endif %}><a href="{% if disablePrev %}#{% else %}?page={{ current_page - 1 }}{% endif %}">&laquo;</a></li>
            {% for page in range(1, page_count) %}
                <li{% if current_page == page %} class="active"{%endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li{% if disableNext %} class="disabled"{%endif %}><a href="{% if disableNext %}#{% else %}?page={{ current_page + 1 }}{% endif %}">&raquo;</a></li>
        </ul>
        {% endif %}
        
        {% for row in mods|batch(2) %}
            <div class="row" style="margin: 30px 0;">
                {% for mod in row %}
                    <div class="col-md-6">
                        
                        <div class="media">
                          <a class="pull-left" href="{{ relative('mod/' ~ mod._id) }}">
                            <img src="{% if mod.image %}{{ relative(mod.image) }}{% else %}{{ relative('modimages/grass.png') }}{% endif %}" alt="">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">{% if mod.unlisted %}{{ mod.name }}{% else %}<a href="{{ relative('mod/' ~ mod._id) }}">{{ mod.name }}</a>{% if mod.authors|length > 0 %}{% endif %} <small>by {{ mod.authors|join(', ') }}</small>{% endif %}</h4>
                            <p>{{ mod.description }}</p>
                            {% if mod.tags|length > 0 %}
                              <p>
                                {% for tag in mod.tags %}
                                    <span class="label label-info">{{ tag }}</span> 
                                {% endfor %}
                              </p>
                            {% endif %}
                          </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% if page_count and page_count > 2 %}
        <ul class="pagination">
            <li{% if disablePrev %} class="disabled"{%endif %}><a href="{% if disablePrev %}#{% else %}?page={{ current_page - 1 }}{% endif %}">&laquo;</a></li>
            {% for page in range(1, page_count) %}
                <li{% if current_page == page %} class="active"{%endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li{% if disableNext %} class="disabled"{%endif %}><a href="{% if disableNext %}#{% else %}?page={{ current_page + 1 }}{% endif %}">&raquo;</a></li>
        </ul>
        {% endif %}
        
        
    </div>
</div>
{% endblock %}