{% extends 'base.twig' %}
{% block title %} - {{ modInfo.name }} Minecraft mod{% if modInfo.authors is defined and modInfo.authors|length > 0 %} by {{ modInfo.authors|join(', ') }}{% endif %}{% if modInfo.tags is defined %} - {{ modInfo.tags|join(', ') }}{% endif %}{% endblock %}
{% block first %}
<img src="{% if modInfo.largeImage is defined and modInfo.largeImage is not empty %}{{ relative(modInfo.largeImage) }}{% else %}{{ relative('largemodimages/default.jpg') }}{% endif %}" id="mod_image">
{% endblock %}
{% block main %}
<div class="row">

    <div class="col-md-12">
        <div class="page-header" id="modheader">
            <div class="inner">
            <h1><span class="wrapped"><img style="width: 32px;height:32px;margin-top:-8px;" src="{% if modInfo.image is defined %}{{ relative(modInfo.image) }}{% else %}{{ relative('modimages/grass.png') }}{% endif %}" alt=""> {{ modInfo.name }}
            {% if modInfo.authors|length > 0 %}
                <small>by {{ modInfo.authors|join(', ') }}</small>
            {% endif %}</span></h1>
            {% if modInfo.description is not empty %}
                <p class="lead" style="width: 85%;"><span class="wrapped">{{ modInfo.description }}</span></p>
            {% endif %}
            </div>
        </div>
        
        {% if modInfo.tags is defined and modInfo.tags|length > 0 %}{% for tag in modInfo.tags %}<span class="label label-info">{{ tag }}</span> {% endfor %}<br /><br />{% endif %}

        {% if modInfo.credits|trim is not empty %}
            <p><strong>Credits:</strong> {{ modInfo.credits }}</p>
        {% endif %}
        {% if modInfo.url|trim is not empty%}
            <p><strong>Url:</strong> <a href="{{ modInfo.url|fullurl }}" target="_blank">{{ modInfo.url|fullurl }}</a></p>
        {% endif %}
        {% if modInfo.repository is defined and modInfo.repository|trim is not empty %}
            <p><strong>Source code:</strong> <a href="{{ modInfo.repository|fullurl }}" target="_blank">{{ modInfo.repository|fullurl }}</a></p>
        {% endif %}
        {% if modInfo.irc is defined and modInfo.irc is not empty %}
            <p><strong>IRC Chat:</strong> <a href="http://mibbit.com/?channel={{ modInfo.irc.channel|url_encode }}&server={{ modInfo.irc.host }}" target="_blank">{{ modInfo.irc.host }} {{ modInfo.irc.channel }}</a></p>
        {% endif %}
        {% if modInfo.donation is defined and modInfo.donation|trim is not empty %}
            <p><strong>Donations:</strong> <a href="{{ modInfo.donation|fullurl }}" target="_blank">{{ modInfo.donation|fullurl }}</a></p>
        {% endif %}

        
    </div>
</div>

<div class="row" style="padding-top: 40px;">

    <div class="col-md-12">   
        <ul class="nav nav-tabs">
          <li class="active"><a href="#files" data-toggle="tab">Files</a></li>
          <li><a href="#analytics" data-toggle="tab">Analytics</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
                <div class="tab-pane active" id="files">
                {% for version, files in versions %}
                    <div class="row" style="padding-top: 20px">
                    <h3 class="col-md-2" style="margin-top: 10px;text-align:right;">{{ version }}</h3>
                    <div class="col-md-10">
                    <table class="table table-striped">
                    {% for file in files %}
                        <tr>
                            <td class="col-md-8">
                                <div style="padding-top: 7px;">
                                    {{ file.filenames|first|lower }} ({{ file.size }} bytes)
                                </div>
                            </td>
                            <td class="col-md-2">
                                {% if file._id in downloads|keys %}
                                <div style="padding-top: 7px;">
                                   &nbsp;&nbsp;&nbsp; <a href="{{ downloads[file._id].url }}" style="text-decoration: none!important;"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</a>
                                </div>
                                {% endif %}
                            </td>
                            <td class="col-md-2">
                                <div style="padding-top: 7px;">
                                    {% if file.minecraft is defined %}<span class="label label-info">{{ file.minecraft }}</span>{% endif %}
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="btn-group pull-right">
                                    <a href="{{ relative('file/' ~ file._id) }}" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;View details</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    </div>
                    </div>
                {% endfor %}   
            </div>
            <div class="tab-pane" id="analytics" style="padding-top:20px;">
                <div class="well">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" style="margin-bottom:0">
                            <label for="inputEmail3" class="col-sm-1 control-label">File</label>
                            <div class="col-sm-11">
                                <select class="form-control" id="select_hourly_file">
                                    <option value="{{ relative('mod/' ~ modInfo._id ~ '/analytics') }}">All files</option>
                                    {% for version, files in versions %}
                                        <option value="{{ relative('mod/' ~ modInfo._id ~ '/analytics/' ~ version) }}">{{ version }}</option>
                                        {% for file in files %}
                                            <option value="{{ relative('mod/' ~ modInfo._id ~ '/analytics/' ~ file._id) }}">&nbsp;&nbsp;&nbsp;- {{ file.filenames|first|lower }}&nbsp; &nbsp; &nbsp;({{ file._id }})</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div id="analytics_content">
                    {{ render(relative('mod/'~modInfo._id~'/analytics')) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content"> 
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ relative('js/jquery.flot.js') }}"></script>
<script src="{{ relative('js/jquery.flot.time.js') }}"></script>
<script type="text/javascript">
    function plotHourly() {
        $.plot("#stats_hour", hourly, {
            xaxis: {
                minTickSize: [1, "hour"],
                twelveHourClock: true,
                mode: "time",
                timezone: "browser"
            }
        });
    }
    $(function() {
        $('#select_hourly_file').change(function() {
            $( "#analytics_content" ).load($(this).val(), function() {
                plotHourly();
            });
        });
        $('a[href="#analytics"]').on('shown.bs.tab', function (e) {
           plotHourly(); 
        });
        $("a[data-target=#myModal]").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");
            $("#myModal .modal-content").load(target, function() { 
                 $("#myModal").modal("show"); 
            });
        });
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
          $(this).tab('show');
          var scrollmem = $('body').scrollTop();
          window.location.hash = this.hash;
          $('html,body').scrollTop(scrollmem);
        });
    });
</script>
{% endblock %}