{% extends 'base.twig' %}
{% block main %}

<h1>{{ modInfo.name }}</h1>
<p class="lead">{{ modInfo.description }}</p>
<p>Authors: {{ modInfo.authors|join(', ') }}</p>
<p>Credits: {{ modInfo.credits }}</p>
<p>Url: {{ modInfo.url }}</p>

<h2>Versions:</h2>

<div class="row">

    <div class="col-xs-2"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
          {% for version in versions|keys %}
            <li{% if loop.first %} class="active"{% endif %}><a href="#{{ version|id }}" data-toggle="tab">{{ version }}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="col-xs-10">
        <!-- Tab panes -->
        <div class="tab-content">
          {% for version, files in versions %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ version|id }}">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li class="active"><a href="#">Files</a></li>
                    <li><a href="#">Exceptions</a></li>
                    <li><a href="#">Analytics</a></li>
                </ul>

              {% for file in files %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ file.filename }} ({{ file.size }} bytes)</div>
                    <div class="panel-body">
                        <h4>Signature</h4>
                        {{ file.signature }}
                        {% if file.classTransformers|length > 0 %}
                        <h4>Class transformers</h4>
                            {% for transformer in file.classTransformers %}
                                {{ transformer }}<br/>
                            {% endfor %}
                        {% endif%}
                        <h4>Mods included:</h4>
                        <ul>
                        {% for mod in file.mods %}
                            <li>{{ mod.name }} <small>({{ mod.version }})</small></li>
                        {% endfor %}
                        </ul>
                        <h4>Packages:</h4>
                        <ul>
                        {% for package in file.packages|sort %}
                            <li><a href="{{ relative('package/' ~ package) }}">{{ package }}</a></li>
                        {% endfor %}
                        </ul>

                    </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
    </div>

</div>
{% endblock %}