{% extends 'base.twig' %}
{% block main %}

<div class="page-header">
<h1>{{ modInfo.name }}</h1>
</div>
<div id="stats_hourly" style="height: 200px;margin-bottom: 30px;">

</div>

{% if modInfo.description is not empty %}
    <p class="lead">{{ modInfo.description }}</p>
{% endif %}
{% if modInfo.authors|length > 0 %}
    <p><strong>Author{% if modInfo.authors|length > 1 %}s{% endif %}:</strong> {{ modInfo.authors|join(', ') }}</p>
{% endif %}
{% if modInfo.credits is not empty %}
    <p><strong>Credits:</strong> {{ modInfo.credits }}</p>
{% endif %}
{% if modInfo.url is not empty %}
    <p><strong>Url:</strong> <a href="{{ modInfo.url|fullurl }}" target="_blank">{{ modInfo.url|fullurl }}</a></p>
{% endif %}

<h3>Files:</h3>

<table class="table">
    {% for version, files in versions %}
    <tr>
        <th>{{ version }}</th>
        <td>
        {% for file in files %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ file.filenames|first }} ({{ file.size }} bytes)
                    <div class="btn-group btn-group-xs pull-right">
                      <button type="button" class="btn btn-primary show_packages"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;View packages</button>
                      <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;View crashes</button>
                    </div></div>
                <div class="panel-body">
                      
                                        
                    <div class="row" style="clear:both;">
                      <div class="col-md-3"><strong>Signature:</strong></div>
                      <div class="col-md-9">{{ file._id }}</div>
                    </div>                    
                    {% if file.classTransformers|length > 0 %}
                    <div class="row">
                      <div class="col-md-3"><strong>Class transformers:</strong></div>
                      <div class="col-md-9">
                        {% for transformer in file.classTransformers %}
                            {{ transformer }}<br/>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif%}
                    
                    <div class="row">
                      <div class="col-md-3"><strong>Known filenames:</strong></div>
                      <div class="col-md-9">
                        {% for filename in file.filenames %}
                            {{ filename }}<br />
                        {% endfor %}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3"><strong>Contains mods:</strong></div>
                      <div class="col-md-9">
                        {% for mod in file.mods %}
                            {{ mod.name }} <small>({{ mod.version }})</small><br />
                        {% endfor %}
                      </div>
                    </div>
                      
                    <div class="row packages_list" style="display: none;">
                      <div class="col-md-3"><strong>Packages:</strong></div>
                      <div class="col-md-9">
                        {% for package in file.packages|sort %}
                            <a href="{{ relative('package/' ~ package) }}">{{ package }}</a><br />
                        {% endfor %}
                      </div>
                    </div>
                    
                </div>
            </div>
          {% endfor %}
        </td>         
    </tr>
    {% endfor %}   
</table>

{% endblock %}


{% block javascript %}
<script src="{{ relative('js/jquery.flot.js') }}"></script>
<script src="{{ relative('js/jquery.flot.time.js') }}"></script>
<script type="text/javascript">
    $(function() {
        $('.show_packages').click(function(e) {
           $(this).parents('.panel').find('.packages_list').toggle();
        });
        
        var latestStats = [];
        {% for series in hourly %}
        latestStats.push({{ series|json_encode()|raw }});
        {% endfor %}
        
        $.plot("#stats_hourly", latestStats, {
            xaxis: { mode: "time" }
        });
    });
</script>
{% endblock %}