<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Exception</th>
            <th>Message</th>
            <th>Class</th>
            <th>Method</th>
            <th>File</th>
            <th>Line</th>  
        </tr>
    </thead>
    <tbody>
        {% for crash in crashes %}
            {% set firstStack = crash.stack|first %}
            <tr data-toggle="collapse" data-target="#{{ crash.stackhash }}" class="accordion-toggle" style="cursor: pointer">
                <td>{{ crash.count }}</td>
                <td>{{ crash.exception }}</td>
                <td>{{ crash.message }}</td>
                <td>{{ firstStack.class }}</td>
                <td>{{ firstStack.method }}</td>
                <td>{{ firstStack.file }}</td>
                <td>{{ firstStack.line }}</td>
            </tr>
            <tr>
                <td colspan="7" class="hiddenRow">
                    <div class="accordian-body collapse" id="{{ crash.stackhash }}">
<pre>{% if crash.message %}
{{ crash.message }}

{% endif %}{{ crash.exception }}
{% for trace in crash.stack %}
	at {{ trace.class }}.{{ trace.method }}({{ trace.file }}:{{ trace.line }})
{% endfor %}
</pre>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<style type="text/css">
.hiddenRow {
    padding: 0 !important;
}
</style>